DOMAIN=docker.localhost
LETSENCRYPT_EMAIL=temposchmempo@gmail.com

REACT_ICECAST_URL=https://stream.docker.localhost/
REACT_KEY=[a random string of numbers to make now playing API work]

LIQUIDSOAP_DJ_USERNAME=dj
LIQUIDSOAP_DJ_PASSWORD=

ICECAST_SOURCE_PASSWORD=
ICECAST_ADMIN_PASSWORD=
ICECAST_PASSWORD=
ICECAST_RELAY_PASSWORD=

MOPIDY_AUTH=bottle-dj:
SPOTIFY_USERNAME=tempo.schmempo@gmail.com
SPOTIFY_PASSWORD=
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=